@page "{id:int}"
@model FarmaArquiSoft.Web.Pages.Lots.EditModel
@{
    ViewData["Title"] = "Editar Lote";
}

<div class="container mt-5">
    <div class="card shadow-lg border-0 rounded-4">
        <div class="card-header bg-warning text-dark text-center py-3"><h3>Editar Lote</h3></div>
        <div class="card-body p-4">
            <form method="post">
                <input type="hidden" asp-for="Input.id" />
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                <div class="row g-3">
                    <div class="col-md-12">
                        <label class="form-label">Medicamento</label>
                        <select asp-for="Input.medicine_id" class="form-select rounded-pill" asp-items="Model.MedicineOptions"></select>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Código (Solo Lectura)</label>
                        <input asp-for="Input.batch_number" class="form-control rounded-pill" readonly />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Vencimiento</label>
                        <input asp-for="Input.expiration_date" type="date" class="form-control rounded-pill" required />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Cantidad</label>
                        <input asp-for="Input.quantity" type="number" class="form-control rounded-pill" required />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Costo</label>
                        <input asp-for="Input.unit_cost" type="number" step="0.01" class="form-control rounded-pill" required />
                    </div>
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-warning rounded-pill px-4">Actualizar</button>
                    <a asp-page="Index" class="btn btn-outline-secondary rounded-pill px-4">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}